@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';


/* GERAL */
:root {
  --background: #f0f0f0;
  --foreground: #333333;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  background: var(--background);
  color: var(--foreground);
}


/* NAVBAR */
.nav-link{
  font-size: 1.8rem; /* padronização da fonte na navbar em 'sobre nós' */
}

.dropdown-item {
  font-size: 1.4rem;
  font-family: inherit;
}

.dropdown-item:hover {
  background-color: transparent;
  font-weight: 600;
  border-bottom: 3px solid #fbbc04;
}

/* TAMPETS NA MÍDIA */
.news-container {
  display: flex;
  /* deixa os cards em linha */
  flex-wrap: wrap;
  /* permite que quebrem a linha se não couberem */
  gap: 2rem;
  /* espaço entre os cards */
  justify-content: center;
  /* centraliza os cards na página */
  padding: 2rem;
}


/*  ESTILO PARA MOBILE */
@media (max-width: 768px) {

  /* tira a configuração padrão da imagem-logo */
  img {
    max-width: 50%;
    height: auto;
  }

  svg {
    vertical-align: 0;
  }
}