@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';


/* GERAL */
:root {
  --background: #f0f0f0;
  --foreground: #333333;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  background: var(--background);
  color: var(--foreground);
}

.body {
  background-color: #fff;
  padding: 2rem 10rem;
  height: 50vh;
}

/* PÁGINAS */

/*HOME*/

/* imagem home */
.container-imagem {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.imagem {
  width:100%;
  height: auto;
}


.dropdown-item:hover {
  background-color: transparent;
  font-weight: 600;
  border-bottom: 3px solid #fbbc04;
}

/* TAMPETS NA MÍDIA */
.news-container {
  display: flex;
  /* deixa os cards em linha */
  flex-wrap: wrap;
  /* permite que quebrem a linha se não couberem */
  gap: 2rem;
  /* espaço entre os cards */
  justify-content: center;
  /* centraliza os cards na página */
  padding: 10rem 0;
}

/* RELATÓRIOS */
.grafico-tampinhas {
  background-image: url(/graficoTampinhas.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 35vw;
  height: 30vh;

}

/* COMPONENTES */

/* NAVBAR */
.dropdown-item {
  font-size: 1.4rem;
  font-family: inherit;
}

/* FOOTER */
.footer {
  display: flex;
}


/*  ESTILO PARA MOBILE */
@media (max-width: 768px) {
  
  /* tira a configuração padrão da imagem-logo */
  img {
    max-width: 50%;
    height: auto;
  }
  
  svg {
    vertical-align: 0;
  }
}