.body {
    background-image: linear-gradient(#faf9dd,
            #e1f1ff,
            #dcd7fc);

    /* height: auto; */
    padding-bottom: 5rem;
    height: 700vh;
    
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;
}

.titulo h2 {
    color: #555;
}

.card {
    margin: 4rem auto;
    border-radius: 2rem;
    background: white;
    padding: 2rem;
    border: none;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.tabs {
    margin: 1rem;
    font-size: 3rem;
}

.tab {
    font-size: 1.5rem !important;
}

:global(.accordion-item) {
    color: #333;

}

:global(.accordion-button) {
    color: #333;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.previewImg {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btnDelete {
    background: #ff4f4f;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: 0.2s;
}

.btnDelete:hover {
    background: #d63333;
}