.body {
    background-image: linear-gradient(#faf9dd,
            #e1f1ff,
            #dcd7fc);

    /* height: auto; */
    padding-bottom: 5rem;
    height: 700vh;

}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;
}

.titulo h2 {
    color: #555;
}

.cardAcordeon {
    margin: 4rem auto;
    border-radius: 2rem;
    background: white;
    padding: 2rem;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    gap: 1rem;
    width: 50%;
    margin: 4rem auto;
    background: #f5d2cb;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.card p {
    margin-right: 1rem;
}

.card img {
    align-self: center;
}

.tabs {
    margin: 1rem;
    font-size: 3rem;
}

.tab {
    font-size: 1.5rem !important;
}

:global(.accordion-item) {
    color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

:global(.accordion-button) {
    color: #333;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.previewImg {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btnApproved {
    background: white;
    border: #17991b solid 0.1rem;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: #17991b;
    font-weight: 600;
    transition: 0.2s;

    &:hover {
        background-color: #17991b;
        color: #333;
    }
}

.btnDelete {
    background: white;
    border: #d65552 solid 0.1rem;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: #d65552;
    font-weight: 600;
    transition: 0.2s;

    &:hover {
        background-color: #d65552;
        color: #333;
    }
}



@media (max-width: 768px) {
    .card {
        margin: 2rem;
        width: auto;
    }

    .tabs {
        margin: 1rem;
        font-size: 1.5rem;
    }
}