.body {
    background-image: linear-gradient(#faf9dd,
            #e1f1ff,
            #dcd7fc);   

   height: 85rem;
   margin: 0;
    padding-bottom: 5rem;
}

.titulo {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #3a2a6a;
}

.subtitulo {
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.input,
.select {
    padding: 10px;
    margin-top: 6px;
    border: 2px solid #c8a8ff;
    border-radius: 8px;
    font-size: 16px;
}

.input:focus,
.select:focus {
    border-color: #9f77ff;
    outline: none;
}

.botao {
    padding: 12px;
    background-color: #6b4cd6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin-top: 10px;
}

.botao:hover {
    background-color: #5435c4;
}

/* Remove as setinhas no Chrome, Edge, Safari */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as setinhas no Firefox */
.input[type="number"] {
    -moz-appearance: textfield;
}
.mensagem {
    margin-top: 20px;
    font-size: 16px;
    color: green;
}