
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #FFF2D6;
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
}

.card {
    background: #ffffff;
    padding: 12px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

/* Responsividade */
@media (max-width: 900px) {
    .container {
        padding: 30px 18px;
    }
    .card img {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 24px 16px;
    }

    .grid {
        gap: 18px;
        grid-template-columns: 1fr;
    }

    .card {
        padding: 10px;
    }

    .card img {
        height: 180px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 20px 12px;
    }
    .card img {
        height: 160px;
    }
}
