.card {
  width: 100%;
  max-width: 320px;   /* largura ideal */
  min-width: 280px;   /* impede de esmagar */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}


.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.card .imagem {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.card .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card:hover .foto {
  transform: scale(1.05);
}


.card .texto {
  padding: 16px;
  text-align: center;
}

.card .texto h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.card .texto p {
  font-size: 1.3rem;
  color: #353535;
  line-height: 1.4;
}

/* animação */
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card {
  animation: slideLeft 0.6s ease forwards;
}



@media (max-width: 600px) {
  .card {
    max-width: 320px;
    min-width: 280px;
  }

  .card .imagem {
    height: 200px;
  }
}

