.carrossel {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    filter: grayscale(100);

    &:hover{
        transform: scale(1.2);
        filter: none;
    }
}

.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}