.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    height: 15vh;
    box-shadow: 0 0 0.2rem 0.4rem rgba(0, 0, 0, 0.08);
    color: #333;
}

/* // LOGO // */
.logoredes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* // REDES SOCIAIS // */
.redessociais {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5.0rem;
    flex-grow: 1;
}

.icons {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer {
        height: 20vh;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 2rem;
    }

    .logoredes {
        width: 50%;
    }

}