/* CONTEÚDO  */
.galeria-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.body-galeria {
    background-color: rgb(255, 251, 229);
}