.galeria-container {
    display: grid;
    grid-template-columns: repeat(2, 300px); 
    gap: 20px;
    justify-content: center; 
    padding-top: 40px;
    padding-bottom: 100px;
}


.galeria-container a {
    text-decoration: none;
}


@media (max-width: 700px) {
    .galeria-container {
        grid-template-columns: 1fr; 
        justify-items: center; 
    }
}

.body-galeria {
    background-color: rgb(250, 249, 221);
}
