.galeria-container {
    display: grid;
    grid-template-columns: repeat(2, 300px); /* 2 por linha */
    gap: 20px;
    justify-content: center; /* centraliza o conjunto */
    padding-top: 40px;
    padding-bottom: 100px;
}

.galeria-container a {
    text-decoration: none;
}

.body-galeria {
    background-color: rgb(250, 249, 221);
}