/* HERO */

.hero {
    width: 100%;
}

.folder {
    width: 100%;
    height: auto;
}

/* COMO DOAR */
.doar {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 5rem;
}


@media (max-width: 768px) {
    .doar {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 2rem;
}
}