/* HERO */

.hero {
    width: 100%;
}

.folder {
    width: 100%;
    height: auto;
}

/* COMO DOAR */
.doar {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 5rem;
}

.doarimg {
    width: 100%;
    height: 40rem;
    border-radius: 100%;
    border: dotted 0.2rem #9D43C2;
    transform: rotateX(180deg);
    padding: 2rem;
    
}