/* HERO */

.hero {
    width: 100%;
}

.folder {
    width: 100%;
    height: auto;
}

/* COMO DOAR */
.doar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding: 4rem 2rem;
}

/* 3 colunas no desktop */
.col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 2.2rem;
    text-align: center;
    color: #333;
}

.animacao {
    flex: 1;
    display: flex;
    justify-content: center;
}

.areaAnimacao {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.moedaChao {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 768px) {
    .doar {
        flex-direction: column;
        gap: 2rem;
    }

    .texto {
        font-size: 1.8rem;
    }

    .animacao {
        order: -1;
        /* animação fica no meio */
    }
}