.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  gap: 2rem;
  width: 50%;
  margin: 4rem auto;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  text-align: center;


}

.item {
  display: flex;
  background: #e3efe5;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  gap: 1rem;
  text-align: center;
  border: none;
}

.item img {
  width: 150px;
  height: 150px;
  align-self: center;
}

.btnEdite {
  background-color: white;
  border: solid 0.1rem #5f81b7;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #5f81b7;
  margin-top: 1rem;

  &:hover {
    background-color: #5f81b7;
    color: black;
    box-shadow: #333 0rem 0.1rem 0.1rem;
  }
}

.btnSalvar {
  background-color: white;
  border: solid 0.1rem #17991b;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #17991b;
  margin-top: 1rem;

  &:hover {
    background-color: #17991b;
    color: black;
    box-shadow: #333 0rem 0.1rem 0.1rem;
  }
}

.btnDelete {
  background-color: white;
  border: solid 0.1rem #d65552;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #d65552;
  margin-top: 1rem;

  &:hover {
    background-color: #d65552;
    color: black;
    box-shadow: #333 0rem 0.1rem 0.1rem;
  }
}