.divprincipal{
    justify-content: center;
    align-content: center;
    border: 1px solid #ccc;
    background-color: rgb(237, 246, 250);
    box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.1);
    border-radius: 2rem; 
    margin: 5rem auto;
    padding-left: 4rem;
    width:  70rem ;
}
.title{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3.2rem;
}
.logBtn{
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  width: 95%;
  margin-bottom: 1rem;
}
.labelContainer{   
    font-size: 1.5rem;
    font-style: bold;
}
.inputContainer{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    width: 95%;
}
.checkboxContainer{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.divChildren{ 
    display: flex;
    flex-direction: row; 
    gap: 4rem;
    width: 100%;
}
.checkChilLabel{
    font-size: 1.3rem;
}
.checkChilInput{
    font-size: 1.3rem;
    min-width: 25rem;
}
.divCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}