.body {
  margin: 0;
  height: auto;
  min-height: 54rem;
  width: 100%;
  align-content: center;
  background: linear-gradient(
    135deg,
    #2E3A40,
    #46565C,
    #6B7A81,
    #AEB5B8
  );
}

/* CARD PRINCIPAL */

.divprincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 2rem;
    padding: 4rem;
    margin:  auto;
  width: 100%;
  max-width: 70rem;
   margin-top: 2rem; 
   margin-bottom: 2rem;

  box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.1);
}

/* TÍTULO */
.title {
  padding: 0.5rem 0;
  font-size: 3.2rem;
  font-weight: 600;
}

/* LABELS PRINCIPAIS */
.labelContainer {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;}
pa.labelContainer:not(:first-of-type) {
  margin-top: 1rem;
}


/* INPUTS GERAIS */
.inputContainer{
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  /* aumenta a altura */
}

/* BOTÃO */
.logBtn {
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  margin-top: 1.5rem;
   padding: 12px 24px; /* vertical | horizontal */
  border-radius: 8px;
}

/* CHECKBOX AREA */
.checkboxContainer {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

/* CONTAINER DOS CHILDS */
.divChildren {
  flex-direction: row;
  gap: 4rem;
  width: 70%;
  align-items: flex-start;
}

/* LABEL DOS CHILDS */
.checkChilLabel {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
  line-height: 1.4;
}

/* INPUTS DOS CHILDS */
.checkChilInput {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  flex: 1;
}

/* CENTRALIZAÇÃO */
.divCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.formWrapper {
  max-width: 500px; /* aumenta o form */
  width: 100%;
  margin: 0 auto; /* centraliza */
  padding: 2rem;
}

.link {
  font-size: 1.4rem;
  display: block;
  margin-top: 0.5rem;
  text-align: center;
}

/* ----- TABLET ----- */
@media (max-width: 768px) {

  .divprincipal {
    padding: 3rem;
    max-width: 44rem;
    margin: 3rem auto;
  }

  .title {
    font-size: 2.4rem;
  }

  .divChildren {
    flex-direction: column;
    gap: 2rem;
  }
}

/* ----- CELULAR ----- */
@media (max-width: 576px) {

  .divprincipal {
    padding: 2rem;
    max-width: 90%;
    margin: 2rem auto;
  }

  .title {
    font-size: 1.8rem;
  }

  .inputContainer,
  .logBtn,
  .checkChilInput {
    width: 100%;
  }
}