.body { 
  background-image: linear-gradient(#faf9dd, #e1f1ff, #dcd7fc);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

/* CARD PRINCIPAL */
.divprincipal {
  justify-content: center;
  align-content: center;

  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;

  margin: 0 auto;
  padding: 4rem;
  width: 70rem;
  max-width: 100%;
}

/* TÍTULO / CENTRO */
.divCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* BOTÃO */
.button {
  cursor: pointer;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

/* INPUTS */
.input {
  margin-bottom: 1rem;
  width: 100%;
}

/* --------------------------------------- */
/* -----------  RESPONSIVIDADE ----------- */
/* --------------------------------------- */

/* ----- Tablets (≤ 768px) ----- */
@media (max-width: 768px) {

  .divprincipal {
    width: 90%;
    padding: 3rem;
  }

  .button {
    width: 100%;
    font-size: 1.4rem;
  }
}

/* ----- Celulares (≤ 480px) ----- */
@media (max-width: 480px) {

  .divprincipal {
    width: 100%;
    padding: 2rem;
  }

  .divCenter h1 {
    font-size: 2rem;
  }

  .button {
    width: 100%;
    font-size: 1.4rem;
  }

  .input {
    font-size: 1.4rem;
  }
}