
.news-container {
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 40px auto; 
}

@media (min-width: 600px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .news-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px; /* gap menor no desktop */
  }
}

.body-news {
  background-color: #e6f0ff;
  padding-bottom: 40px;
}
