/* CONTEÚDO */
.news-container {
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  max-width: 1100px; /* <-- ESSENCIAL */
  margin: 40px auto; /* <-- centraliza e impede que expanda demais */
}

/* TABLET — 2 cards por linha */
@media (min-width: 600px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP — 4 cards por linha */
@media (min-width: 1024px) {
  .news-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px; /* gap menor no desktop */
  }
}

.body-news {
  background-color: rgb(230, 240, 255);
  padding-bottom: 40px;
}
