
.news-container {
  display: flex;
  /* deixa os cards em linha */
  flex-wrap: wrap;
  /* permite que quebrem a linha se não couberem */
  gap: 2rem;
  /* espaço entre os cards */
  justify-content: center;
  /* centraliza os cards na página */
  padding: 10rem 0;
}


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

              