.card {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image {
    border-radius: 12px;
    object-fit: contain;
    width: 250px;
    height: 250px;
}