/* CONTÊINER DOS FILTROS */
.filtros {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
  margin: 25px 0 15px 0;
  flex-wrap: wrap;
}

/* BLOCO INDIVIDUAL DO FILTRO */
.filtroItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* LABEL (ex: "Mês:", "Ano:") */
.filtroItem label {
  font-size: 0.95rem;
  font-weight: 600;
  color: #444;
}

/* SELECT */
.filtroItem select {
  padding: 10px 16px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.18s ease;
}

/* HOVER */
.filtroItem select:hover {
  border-color: #c7c7c7;
}

/* FOCUS (quando clica) */
.filtroItem select:focus {
  border-color: #8a2be2;
  box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.25);
}

/* AJUSTE DO SELECT EM CAIXAS DOS GRÁFICOS */
.graficoBox select {
  padding: 10px 16px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.18s ease;
}

/* FOCUS PARA SELECT DOS GRÁFICOS */
.graficoBox select:focus {
  border-color: #8a2be2;
  box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.25);
}