.cardArea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    position: relative;
    width: 70%;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* ⬅ centraliza tudo horizontalmente */
    gap: 1rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }

}

.cardBorder {
    position: absolute;
    inset: 0;
    z-index: 2;
}


.cardImage {
    width: 40%; /* Aumentei um pouco, mas você ajusta */
    border-radius: 8px;
    margin: 0 auto; /* ⬅ centraliza perfeitamente */
    z-index: 3;
    display: block; /* garante que o margin auto funcione */
}

.card h2 {
    font-size: 2.2rem;
    color: black;
    z-index: 3;
}

.card figcaption {
    font-size: 1.2rem;
    z-index: 3;
}

.button {
    z-index: 4;
    padding: 10px 15px;
    border-radius: 20px;
    background: white;
    color: #D65552;
    border: 1px solid #D65552;
    text-align: center;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
}

.button:hover {
    background: #D65552;
    color: black;
}