/*  TITULO */
.titulo {
    width: 100%;
    display: inline-block;
    position: relative;
}

.imgt {
    width: 100%;
    display: block;
}

.escritat {
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 3rem;
    /* text-shadow: 2px 2px 1px whitesmoke; */
}

.escritap {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 2rem;
}